.searchInput {
  width: 360px;
  padding: 10px;
  display: block;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 8px auto;
}

.searchLabel {
  width: 360px;
  display: block;
  font-weight: bold;
  margin: 8px auto;
}
