.active {
  color: red;
}

nav {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a:hover {
  color: green;
}

.UserMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}
